.card-item {
    height: auto;
    flex-direction: row;
    border-radius: 10%;
    border: none;
}

.card-item:hover {
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
}

.card-item-body {
    height: 200px;
    width: 50%;
}

.item-img {
    height: 200px; 
    width: 150px;
    max-height: 450px;
    border-radius: 10%;
}

.link-detail {
    text-decoration: none;
}

.icon-cart-plus {
    font-size: 20px;
}