
.cart {
    margin: 20px auto;
    min-height: 500px;
    
}

.cart-items {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2.5%;
    min-height: 500px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-items h3 {
    font-weight: bold;
}

.cart-item-img {
    width: 100px;
    height: 100px;
}

.close {
    cursor: pointer;
}

.close:hover {
    color: red;
}

.cart-checkout {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

.cart-checkout h3 {
    font-weight: bold;
}

.btn-delete-icon {
    color:gray;
    border-radius: 100%;
    font-size: 20px;
}

.td-delete-icon:hover .btn-delete-icon {
    color:red;
}


/* FORM CHECKOUT*/
.form-checkout {
    padding: 5%;
}
