
.cart {
    height: auto;
    margin: auto;
}
.cart-table {
    padding: 1%;
}

.cart-checkout {
    padding: 1%;
}


.cart-item-table-row .td-text {
    vertical-align: middle;
    margin: 100%;
    text-align: center;
}

.cart-item-img {
    width: 75px;
    height: 75px;
    margin-right: 5px;
}
.link-item {
    text-decoration: none;
    color: black;
}


.btn-delete-icon {
    color:gray;
    border-radius: 100%;
    font-size: 20px;
}

.td-delete-icon:hover .btn-delete-icon {
    color:red;
}

.no-items {
    margin: auto;
}

/* FORM CHECKOUT*/
.form-checkout {
    padding: 5%;
}
