.cart-widget { 
    margin: auto;
    cursor: pointer;
    position: relative;
}

.cart-icon {
    font-size: 30px;
    color: black;
}

.cart-widget-count {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 90%;
    bottom: 50%;
    color: #fb7e14;
    font-size: 11px;
    font-weight: bold;
}