.item-detail-img {
    height: 500px;
    width: 100%;
}

.card-item-detail {
    border: none;
}

.item-detail-info {
    padding: 2.5%;
    border: 1px solid black;
}
.item-count {
    width: 100%;
}